body{font-family: 'Courgette', cursive;
    font-family: 'Oswald', sans-serif;
    font-weight: 250px;
}

.header-content h1{color: white;
                  font-weight:bold ;
}
.row h1{font-style: italic;
        margin-left:0px;
}

.address h3{margin:15px;
}
.address h2{font-style: italic;
           font-weight: bold;
}
.address h3{font-style: italic;
    font-weight: 50px;}

.address ul{list-style: none;
}

.address ul  li{ display:inline-block;
}

.address a i{color:black;
           background-color: white; 
           padding:5px;     
}

.address  i{color:white;
           background-color: white;
}

footer{color:white;
        background-color:black;
        padding-top:20px;
        padding-bottom:15px;
        margin:0px;
}

footer a{color:white;
         text-decoration: underline;
}

.row6 a{display:block;
}

.row7 h1{margin:0px}
