@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;0,900;1,400&display=swap');
body{font-family: 'Lato', sans-serif;
}



.row1 header{background-image: url("imag/header.jpg");}


.row2 div div{background-color:violet;
             height:300px; 
           
   
}

.row2 div div img{width:150px;
                 height:120px;
}

.row2 div div img{margin-left:150px;
}

.row2 div div h1{margin-left:150px;
}

.row2 div div h2{margin-left:150px;
}

.row3 div div{background-color:#FFFFFF;
}

img{width:100%;
}

.row4 div div{background-color:#FFFFFF;
}

.row5 div div{background-color:#FFFFFF;
}
.row6 div div {background-color:#000000;

}
.row6 div div a{display:block;
                color:#FFFFFF;
                text-decoration: underline;
}

 .row7 a{display:inline-block;
         color:white;
} 
    

.row6 div div h2,h3,h1{ color:#FFFFFF;
}


/* homepage for medium screens */

.row9 h1{color:black;
        text-align:center;
}
h1{color:black;
}

.row9 h3{color:#000000;
}
.row9 div div{background-color:#FFFFFF;
}
.row9 input[type="text"]{text-align:center
}
.row10 div div{background-color:#FFFFFF;
}
.row10 h3{color:#000000;
}
.row10 input[type="text"]{text-align:center
}
.row11 div div{background-color:#FFFFFF;
}
.row11 h3{color:#000000;
}
.row11 a{color:#000000;
         padding:10px;}
.row11 h3{color:#000000;
}
.row12 a{display: block;
         color:#FFFFFF;
         text-decoration: underline;}
.row12 h1{color:#FFFFFF;
          font-style: italic;
        }
.row13 a,h1{color:#FFFFFF;
}
footer{background-color:#000000;
}


   

 