.row2 div div{background-color:white;
}

.row2 div div img{width:150px;
                 height:120px;
}

.row2 div div img{margin-left:150px;
}

.row2 div div h1{margin-left:150px;
}

.row2 div div h2{margin-left:150px;
}

.row3 div div{background-color:#FFFFFF;
}

img{width:100%;
}

.row4 div div{background-color:#FFFFFF;
}

.row5 div div{background-color:#FFFFFF;
}
.row6 div div {background-color:#000000;

}
.row6 div div a{display:block;
                color:#FFFFFF;
                text-decoration: underline;
}

.row6 div div h2,h3,h1{ color:#FFFFFF;
}




   

 